node_modules/
node_modules/*
dist/*
.settings
*.png~
bash.exe.stackdump
.VSCodeCounter/
.VSCodeCounter/*
solar_pax_library/
solar_pax_library/*
*.L5X
output/
output/*
*.csv
obj/
obj/*
bin/
bin/*
.vscode/
.vscode/*
SF160_Displays/
SF160_Displays/*
Test/
Test/*